#GetStarted {
  border: 3px solid #00a2ff;
  background-color: #00d4a2;
  color: black;
}

#buttonDiv {
    width: 48px;  /* largeur fixe pour un bouton icône Google */
    height: 48px; /* hauteur fixe */
}
