#logo {
    width: 200px;
    height: 150px;
    display: block;
    margin: 0 auto;
    border: 2px solid black;
}

#logo {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}