body {
    background: url(images/Logo.jpg);
    background-size: cover;
}

#logo {
    width: 1000px;
    height: auto;
    display: block;
    animation-fill-mode: forwards;
}

#logo {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 1000px;
  }

  to {
    margin-left: 50%;
    width: 500px;
  }
}